@import url(http://fonts.googleapis.com/css?family=Ubuntu:500&subset=latin,latin-ext);

#yt-firstimage {
    max-width: 700px;
}

.excerptimage {
    max-width: 600px;
}

img.horizon-align-2 {
    width:45%;
    max-width:500px;
    margin-bottom: 3px;
}

#flow-yt {
    max-width:800px;
    align:center;
}

.centeredImage
{
    text-align:center;
    display:block;
}

.imagediv {
    display:block;
}
    
imgContainer {
    float: left;
}

figcaption {
    margin: 10px 0 0 0;
    font-variant: small-caps;
    font-family: Arial;
    font-weight: bold;
    color: #bb3333;
    text-align: center;
}

.scfont {
    font-variant: small-caps;
    font-family: Arial;
    font-weight: bold;
    display:inline;
}

p {
    max-width: 800px;
} 

.main-nav {
    font-size: 20px;
    padding-top: 10%;
    /* padding-left: 25%; */
    padding-bottom: 10%;
}
.main-nav li {
    list-style-type: none;
    margin: 0 0 2% 0;
}

body{
	color: #2c3e50;
}

.sidebar {
	position: fixed;
	top: 0px;
	padding-top: 2%;
}

.sidebar-header {
	text-align: center;
	margin-bottom: 10px;
}
.sidebar-header .title{
	letter-spacing: 3px;
	text-transform: uppercase;
}

.sidebar-header .title a{
	text-decoration: none;
	color: #2c3e50;
}

a.nav-link {
	padding-bottom: 5px;
	padding-top: 7px;
	color: #aaa;
}
a.nav-link i{
	font-size: 16px;
}
a.nav-link:hover { color: #777 }

#bio {
	font-family: "Courier New", Courier, monospace;
	font-size: 11px;
	margin: 0 auto;
	margin-bottom: 10px;
}

#contact-list-secondary {
	padding-bottom: 10px;
}

article{
	margin-bottom: 40px;
}

.article_body{
	margin-top: 20px;
	margin-bottom: 20px;
}

.post-date {
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 3px;
}

article.home div a, article.home pre a { color: #2c3e50; }
article.home div a:hover, article.home pre a:hover { color: #2c3e50; text-decoration: none; }
article img { max-width: 100%; }

h1,h2,h3,h4,h5,h6{ font-family: 'Ubuntu', sans-serif; color: #000000; }
h1 a,h2 a,h3 a,h4 a{ color: #004e00; }
h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover{ color: #e74c3c; }

footer {
	padding-top: 15px;
	font-family: 'Ubuntu';
}

/* nav-vertical-tabs component */
.nav-tabs-vertical {
    border-right: 1px solid #ddd;
}

.nav-tabs-vertical li {
    margin-right: -1px;
}

.nav-tabs-vertical>li.active>a, .nav-tabs-vertical>li.active>a:hover, .nav-tabs-vertical>li.active>a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-right-color: transparent;
}

.nav-tabs-vertical>li>a {
    line-height: 1.428571429;
    border: 1px solid transparent;
    border-radius: 4px 0 0 4px;
}

.badge { background: #F2756A; }

#nav-menu{
    position: fixed;
    top: 45px;
    right: 45px;
    z-index: 2000;
}
#nav-menu .dropdown-menu {
    left: inherit;
    right: 0px;
}
